@font-face {
  font-display: swap;
  font-family: 'Noto Serif';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/noto-serif-v28-latin-regular.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Noto Serif';
  font-style: normal;
  font-weight: 500;
  src: url('fonts/noto-serif-v28-latin-500.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Noto Serif';
  font-style: normal;
  font-weight: 600;
  src: url('fonts/noto-serif-v28-latin-600.woff2') format('woff2');
}


@page {
	size: A4 portrait;
	margin: 0;
}

html {
	/* Baseunit ist die Breite einer Karte */
	--baseunit: 300px;
	print-color-adjust: exact;
}
@media print {
	html {
		/* Baseunit ist die Breite einer Karte */
		--baseunit: 36.19047619vw;
	}
}

body {
	margin: 0 auto;
	padding: 0;
	/* Auch auf dem Bildschirm sollen nicht mehr als 4 Karten nebeneinander */
	max-width: calc(3 * var(--baseunit));
	font-size: calc(0.06 * var(--baseunit));
	font-family: 'Noto Serif';
}

.header {
	margin: 40px 0 40px 0;
}
@media print {
	.header {
		display: none;
	}
}

.pages {
	display: block;
	page-break-after: always;
}
.pages__single {
	page-break-after: always;
	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
	margin: 0 auto;
	position: relative;
}
@media print {
	.pages__single {
		/* So viel Rand um die Seite, dass 3 Cards nebeneinander zentriert sind */
		padding: calc(50vw - (1.5 * var(--baseunit))) 0 0 calc(50vw - (1.5 * var(--baseunit)));
	}
}

.card {
	width: calc(1 * var(--baseunit));
	height: calc(1 * var(--baseunit));
	box-sizing: border-box;
	padding: calc(0.1 * var(--baseunit)) calc(0.15 * var(--baseunit)) 0 calc(0.15 * var(--baseunit));
	position: relative;
	display: flex;
  flex-direction: column;
  justify-content: center;
	border: 1px solid #ccc;
	border-radius: 50%;
}
@media print {
	.card {
		/* Gedruckt ohne Rand für Toleranz beim Schneiden */
		border-color: transparent;
		position: absolute;
	}
	.card:before {
		/* 13cm */
		width: calc(1.710526 * var(--baseunit));
		/* 10,1cm */
		height: calc(1.328947 * var(--baseunit));
		position: absolute;
		/* 1,25cm vom oberen Rand */
		top: calc(-0.16447368 * var(--baseunit));
		/* 2,7cm vom oberen Rand */
		left: calc(-0.35526 * var(--baseunit));
		border: 1px solid black;
		border-radius: 30%;
		content: "";
	}
	.card:nth-child(1) {
		/* 1.45cm von oben */
		top: calc(0.190789 * var(--baseunit));
		/* 0.5cm Rand von der Seite */
		left: calc(0.065789 * var(--baseunit));
	}
	.card:nth-child(2) {
		/* 11.05cm = 1,45 Rand + 7,6 Kreis + 2,0 Abstand von oben */
		top: calc(1.453947 * var(--baseunit));
		/* 0.5cm Rand von der Seite */
		left: calc(0.065789 * var(--baseunit));
	}
	.card:nth-child(3) {
		/* 20,65cm = 1,45 Rand + 2x7,6 + 2x2,0 von oben */
		top: calc(2.717105 * var(--baseunit));
		/* 0.5cm Rand von der Seite */
		left: calc(0.065789 * var(--baseunit));
	}
	.card:nth-child(4) {
		/* 1.45cm von oben */
		top: calc(0.190789 * var(--baseunit));
		/* 12,9cm Rand von der Seite */
		left: calc(1.6974 * var(--baseunit));
	}
	.card:nth-child(5) {
		/* 11.05cm = 1,45 Rand + 7,6 Kreis + 2,0 Abstand von oben */
		top: calc(1.453947 * var(--baseunit));
		/* 12,9cm Rand von der Seite */
		left: calc(1.6974 * var(--baseunit));
	}
	.card:nth-child(6) {
		/* 20,65cm = 1,45 Rand + 2x7,6 + 2x2,0 von oben */
		top: calc(2.717105 * var(--baseunit));
		/* 12,9cm Rand von der Seite */
		left: calc(1.6974 * var(--baseunit));
	}


}

.card--end {
	border-width: 0;
	background: repeating-linear-gradient(
		90deg,
		transparent,
		transparent calc(0.1 * var(--baseunit)),
		rgba(0,0,0,0.14) calc(0.1 * var(--baseunit)),
		rgba(0,0,0,0.14) calc(0.2 * var(--baseunit)),
		transparent calc(0.2 * var(--baseunit)),
		transparent calc(0.33333 * var(--baseunit))
	);
}
@media print {
	.card--end {
		background: none;
	}
	.card--end:before {
		/* Genau die gleichen Streifen aber überall unter der Stanze */
		background: repeating-linear-gradient(
			90deg,
			transparent,
			transparent calc(0.1 * var(--baseunit)),
			rgba(0,0,0,0.14) calc(0.1 * var(--baseunit)),
			rgba(0,0,0,0.14) calc(0.2 * var(--baseunit)),
			transparent calc(0.2 * var(--baseunit)),
			transparent calc(0.33333 * var(--baseunit))
		);
	}
}

.card__number {
	font-weight: 500;
	margin: 0 0 calc(0.02 * var(--baseunit)) 0;
	text-align: center;
  position: absolute;
  top: calc(0.1 * var(--baseunit));
  left: 0;
  width: 100%;
}

.card__text {
}
.card__text p {
	margin: 0 0 calc(0.02 * var(--baseunit)) 0;
	text-align: center;
}
.card__text ul {
	margin: 0 0 calc(0.02 * var(--baseunit)) 0;
	padding-left: calc(0.05 * var(--baseunit));
	list-style-type: none;
}

.card__text ul li {
	position: relative;
}
.card__text ul li::before {
	content: "- ";
	position: absolute;
	left: calc(-0.04 * var(--baseunit));
	top: 0;
}

.documentation {
	max-width: 800px;
	margin: 100px auto 100px auto;
}
@media print {
	.documentation {
		display: none;
	}
}
.documentation__heading {
	margin: 0;
}
.documentation__text {
	white-space: pre-line;
	margin: 0 0 40px 0;
}